<!-- home.html -->

{% extends 'portfolio/layout.html' %}

{% load static %}

{% block preMain %}
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'portfolio/images/10mb branco.mp4' %}" type="video/mp4" id="backgroundVideo">
        <source src="{% static 'portfolio/images/10mb preto.mp4' %}" type="video/mp4" id="backgroundVideo1">
        Your browser does not support HTML5 video.
    </video>
    <div id="myVideoOverlay"></div>
{% endblock %}

{% block main %}
    <main class="index">
        <div id="maincontent">
            <div id="profile">
                <img src="{% static 'portfolio/images/profile.png' %}" alt="">
                <h1>Bruno</h1>
                <h1>Martinho</h1>
                <div id="square"></div>
                <h2>Desenvolvedor</h2>
            </div>
            <div id="description">
                <h1>Olá</h1>
                <h2>Bem-vindo ao meu Portfolio</h2>
                <div id="buttons">
                    <a href="{% url 'portfolio:aboutme' %}" id="btn1">Currículo</a>
                    <a href="{% url 'portfolio:projects' %}" id="btn2">Projetos</a>
                </div>
                <p>Sou aficionado pelas novas tecnologias, pelo desafio de criar soluções, pela troca de experiência e
                    pela constante aprendizagem. Curso Engenharia Informática e pretendo desenvolver competências na
                    área....</p>
            </div>
        </div>
    </main>
{% endblock %}