<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruno Martinho</title>
    <meta name="author" content="Bruno Martinho">
    <meta name="description" content="O meu Portfolio">
    <meta name="keywords" content="Portfolio">

    {% load static %}
    <link rel="stylesheet" id="stylesheet" href="{% static 'portfolio/css/style-light.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    {% load static %}
    <script type="application/javascript" src="{% static 'portfolio/js/script.js' %}"></script>
</head>



<body onload="loadStyle()">
    <header id="header">
        <a href="{% url 'portfolio:home' %}" id="homeButton">Bruno Martinho</a>
        <button><span class="material-symbols-outlined" id="darkModeBTN">light_mode</span></button>
        <nav>
            <a href="{% url 'portfolio:home' %}" class="naveg">Home</a>
            <div class="dropdown">
                <button class="dropbtn">
                    <a href="{% url 'portfolio:aboutme' %}" class="naveg">Sobre mim▾</a>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'portfolio:aboutme' %}#formacao">Educação</a>
                    <a href="{% url 'portfolio:aboutme' %}#participacoes">Participações</a>
                    <a href="{% url 'portfolio:aboutme' %}#interesses">Interesses e hobbies</a>
                </div>
            </div>
            <a href="{% url 'portfolio:projects' %}" class="naveg">Projetos</a>
            <a href="{% url 'portfolio:contacts' %}" class="naveg">Contactos</a>
            <a href="{% url 'portfolio:scripts' %}" class="naveg">Scripts</a>

            {% if user.is_authenticated %}
                <a href="{% url 'portfolio:logout' %}" class="naveg">Logout ({{user.username}})</a>
            {% else %}
                <a href="{% url 'portfolio:login' %}" class="naveg">Login</a>
            {% endif %} 


        </nav>
    </header>

    {% block preMain %}
    {% endblock preMain %}

    {% block main %}
    {% endblock main %}

    <footer id="footerMain">
        <div id="universidade">
            <img src="{% static 'portfolio/css/layout.css' %}" alt="" height="40px">
            <div>
                <p>Universidade Lusófona</p>
                <p>Engenharia informática</p>
                <p>Programação Web</p>
            </div>
        </div>

        <a href="{% static 'portfolio/images/site map.jpg' %}" target="_blank">Mapa do site</a>

        <div id="autor">
            <p>Criado por Bruno Martinho</p>
            <p>bruno.martinho.2000@gmail.com</p>
        </div>
    </footer>


</body>

</html>